#header ul li.dropdown-list {
    position: relative;
}

#header .dropdown-list > ul {
    display: none;
    position: absolute;
    bottom: -210px;
    left: 0;
    width: 100%;
    background-color: yellow;
}

#header .dropdown-list:hover > ul {
    display: block;
}

#header .dropdown-list:hover > ul li {
    background-color: red;
    display: block;
    margin: 5px;
}